{#{% extends 'index_working.html' %}#}
{##}
{#{% block title %}About{% endblock %}#}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div id="about">


    <!-- Carousel wrapper -->
    <div>
        <div class="container bg-dark" >
            <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-offset="10">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card-body">
                            <div class="h4 mt-0 title">About</div>
                            <p>
                                This site is a work in progress; so please pardon the mess. I am a recent graduate from an
                                Advanced Python Development Bootcamp in Seattle. Additionally, I have a degree in
                                Mathematics and a desire for my dog to live the most outstanding dog life ever.
                            </p>
                            <br>
                            <p>
                                I'm a technology professional with over a decade of experience in data analysis, passionate
                                about solving real-world problems with innovative solutions. My skills include project
                                management, team leadership, and business development, and I'm always eager to stay on top
                                of emerging technologies. In my free time, I enjoy tabletop gaming and exploring the
                                Pacific Northwest. I'm committed to giving back to my community and would love to connect
                                with local non-profits.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card-body">
                            <div class="h4 mt-0 title">Basic Information</div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">
                                        Email:
                                    </strong>
                                </div>
                                <div class="col-sm-8">
                                    b s w a r d (A T) g m a i l (D O T) c o m
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">
                                        LinkedIn:
                                    </strong>
                                </div>
                                <div class="col-sm-8">
                                    <a href="https://www.linkedin.com/in/brian-sward/">Visit My LinkedIn Page</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">
                                        GitHub:
                                    </strong>
                                </div>
                                <div class="col-sm-8">
                                    <a href="https://www.github.com/briansward/">Visit My GitHub Page</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">
                                        Address:
                                    </strong>
                                </div>
                                <div class="col-sm-8">
                                    Seattle, Washington
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <strong class="text-uppercase">
                                        Photo:
                                    </strong>
                                </div>
                                <div class="col-sm-8">
                                    <img src="../static/brian.png" alt="Brian's photo"
                                         style="border-radius:5%; max-width: 65%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>