
<div>
    <div class="container">
        <div class="section" id="contact">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-9"> -->
                    <div class="h4 text-center mt-4 mb-3 title text-light" id="contact-us">
                        Resume
                    </div>
                    <div class="card mb-0" data-aos="zoom-in">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <a class="btn btn-primary" target="_blank"
                                       href="{{ url_for('static',filename='brian.pdf') }}" data-aos="zoom-in"
                                       data-aos-anchor="data-aos-anchor">
                                        Download CV
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
