<!doctype html>
<html lang="en">

  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <title>Brian's Portfolio</title>
  </head>

  <body class="bg-dark">

    <div class="p-2 text-center text-white bg-dark">
      Software Developer At Large
    </div>

    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-sm bg-secondary navbar-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="collapse_Navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#educational-info">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#Prof-skill">Professional Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#contact-us">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Carousel wrapper -->

    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark bg-dark"
      data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8 text-center text-white bg-dark">
              <br>
              <strong>
                <h5 class="mb-3">
                  Brian Sward
                </h5>
              </strong>
                <p>
                  <i>
                    Python Developer - Data Analyst                  
                  </i>
                </p>
              <!-- <p class="text-muted"> -->
              <i class="fas fa-quote-left pe-2"></i>
                Python developer possessing a fluidity in mathematics and a passion for how software engineering can enhance people's quality of life. Eager to leverage the ethea of continuous education, adaptability, accountability, and advanced data analysis methodologies inside the software engineering field.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel wrapper -->
    <div class="section bg-dark" id="about">
      <div class="container bg-dark">
        <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">About</div>
                  <p>Recent graduate with Certificate in Advanced Python Development with a degree in Mathematics from Wesleyan University in Middletown, Connecticut and a desire to advance a career in software development.
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">
                        Email:
                      </strong>
                    </div>
                    <div class="col-sm-8">
                      b s w a r d (A T) g m a i l (D O T) c o m
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">
                        LinkedIn: 
                      </strong>
                    </div>
                    <div class="col-sm-8">
                      LINK HERE, USE AN ICON
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4">
                      <strong class="text-uppercase">
                        Address:
                      </strong>
                    </div>
                    <div class="col-sm-8">
                      Seattle, Washington
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section bg-dark" id="skill">
        <div class="container my-2 bg-dark">
          <div class="h4 text-center mb-4 title text-light" id="educational-info">
            Education
          </div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="h5">
                Certificate In Advanced Python Development
              </div>
              <p class="category">
                CodeFellows - 
                <i>Seattle, Washington</i>
              </p>
              <p>
                Completion of over 1,000 hours of combined lecture, projects, and lab time.
              </p>
              <p>
                <b>
                  Projects:
                </b>
                <br>
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium a veritatis voluptas officiis distinctio molestiae nesciunt in eos nulla quam!
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing e lit. Facilis, assumenda.
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="skill">
        <div class="container my-2">
          <div class="h4 text-center mb-4 title text-light" id="Prof-skill">Professional Skills</div>
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="card-body">
                <b>
                  Programming Languages:
                </b> 
                Python, R, SQL, JavaScript, HTML, CSS, C++
                <br>
                <br>
                <b>
                  Tools:
                </b> 
                SciKitLearn, NumPy, Pandas, Matplotlib, MS Excel
                <br>
                <br>
                <b>
                  Database Management Systems:
                </b>
                MySQL, postgres, MongoDB, SQLite3
                <br>
                <br>
                <b>
                  Internet Technologies:
                </b> 
                Flask, HTML5, CSS, Django
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="section" id="contact">
            <div class="container">
              <div class="row">
                <!-- <div class="col-md-9"> -->
                <div class="h4 text-center mb-4 title text-light" d="contact-us">
                  Resume
                </div>
                <div class="card mb-0" data-aos="zoom-in">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='brian.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">
                          Download CV
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

  </body>

  <footer class="text-light">
    <br>
    &copy Chickpea Web Design 2023
  </footer>

</html>
